@model WnioskiOnline.ViewModels.SzczegolyK3ViewModel


@{
    ViewBag.Title = "Wniosek K3";
}

<h3>WNIOSEK O DOFINANSOWANIE NISKOBUDŻETOWEGO/KRÓTKOTERMINOWEGO PROJEKTU STUDENCKIEGO</h3>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
 
<fieldset>
 <legend>Wypełnij wniosek</legend>
<section class="szczegolywniosku">
        <ol>
            <li>
                @Html.Label("Dziedzina: ")
                @Html.DropDownListFor(m => m.Formularz.IdDziedziny, Model.Dziedziny)
            </li>

            <li>
                @Html.Label("Organizacja wnioskująca: ")
                @Html.DropDownListFor(m => m.Formularz.IdOrganizacji, Model.Organizacje)
            </li>

            <li>
                @Html.Label("Nazwa projektu: ")
                @Html.EditorFor(m => m.Formularz.Wniosek.TytulWniosku)
            </li>

            <li>
                @Html.Label("Główny koordynator projektu: ")
            </li>

            <li>
                @Html.Label("Imię ")
                @Html.EditorFor(m => m.Formularz.PierwszyKoord.Imie)
            </li>

            <li>
                @Html.Label("Nazwisko ")
                @Html.EditorFor(m => m.Formularz.PierwszyKoord.Nazwisko)
            </li>

            <li>
                @Html.Label("Telefon ")
                @Html.EditorFor(m => m.Formularz.PierwszyKoord.Telefon)
            </li>

            <li>
                @Html.Label("Email ")
                @Html.EditorFor(m => m.Formularz.PierwszyKoord.Email)
            </li>

            <li>
                @Html.Label("Numer indeksu ")
                @Html.EditorFor(m => m.Formularz.PierwszyKoord.NrIndeksu)
            </li>

            <li>
                @Html.Label("Drugi koordynator projektu: ")
            </li>

            <li>
                @Html.Label("Imię ")
                @Html.EditorFor(m => m.Formularz.DrugiKoord.Imie)
            </li>

            <li>
                @Html.Label("Nazwisko ")
                @Html.EditorFor(m => m.Formularz.DrugiKoord.Nazwisko)
            </li>

            <li>
                @Html.Label("Telefon ")
                @Html.EditorFor(m => m.Formularz.DrugiKoord.Telefon)
            </li>

            <li>
                @Html.Label("Email ")
                @Html.EditorFor(m => m.Formularz.DrugiKoord.Email)
            </li>

            <li>
                @Html.Label("Numer indeksu ")
                @Html.EditorFor(m => m.Formularz.DrugiKoord.NrIndeksu)
            </li>

             <li>
                @Html.Label("Termin projektu: ")
                @Html.EditorFor(m => m.Formularz.Termin)
            </li>

            <li>
                @Html.LabelFor(m =>m.Formularz.LiczbaStudKorzyst)
                @Html.EditorFor(m => m.Formularz.LiczbaStudKorzyst)
            </li>

             <li>
                @Html.LabelFor(m =>m.Formularz.LiczbaStudZaang)
                @Html.EditorFor(m => m.Formularz.LiczbaStudZaang)
            </li>

            <li>
                @Html.Label("Zasięg zadania: ")
                @Html.DropDownListFor(m => m.Formularz.IdZasiegu, Model.Zasiegi)
            </li>

            <li>
                @Html.Label("Charakter zadania: ")
                @Html.DropDownListFor(m => m.Formularz.IdCharakteru, Model.Charaktery)
            </li>

            <li>
                @Html.LabelFor(m => m.Formularz.Uzasadnienie)
                @Html.TextAreaFor(m => m.Formularz.Uzasadnienie)
            </li>

            <li>
                @Html.LabelFor(m => m.Formularz.Uwagi)
                @Html.TextAreaFor(m => m.Formularz.Uwagi)
            </li>

        </ol>

@*<section class="wnioski">
        <table>
        <tr>
            <th>
               Rodzaj wydatku
            </th>
            <th>
               Wyszczególnienie
            </th>
            <th>
                Kwota ogółem
            </th>
            <th>
               Kwota do sfinansowania
            </th>
            <th></th>
        </tr>
          <tr>
            <td>
                @Html.DropDownListFor(m => m.Wydatek.RodzajWydatku, Model.RodzajeWydatku)
            </td>
            <td>
                @Html.EditorFor(m => m.Wydatek.Wyszczegolnienie)
            </td>
            <td>
                @Html.EditorFor(m => m.Wydatek.KwotaOgolem)
            </td>
            <td>
                @Html.EditorFor(m => m.Wydatek.KwotaDoSfinans)
            </td>
            <td>
                @Html.ActionLink("Usuń","Index")
            </td>
        </tr>
    </table>
    </section>
    <input type="button" name="dodajkoszt" value=" + Dodaj wiersz + "/>*@
    <br /><br />
    <div style="display:inline;">
        <input type="submit" name="ZapiszRobocza" value="Zapisz wersję roboczą" />
        <input type="submit" name="WyslijDoRec" value="Wyślij do recenzji"/>
        <input type="submit" name="Anuluj" value="Anuluj"/>
    </div>
</section>    
</fieldset>

}

             