@model WnioskiOnline.ViewModels.WnioskiViewModel

@{
    ViewBag.Title = "Wnioski";
}

<h2>Wnioski</h2>

<section class="wnioski">


<p>
    Nowy wniosek: @Html.ActionLink("K1N", "DodajK1N", "Wnioskodawca"), @Html.ActionLink("K2", "DodajK2", "Wnioskodawca"), @Html.ActionLink("K3", "DodajK3", "Wnioskodawca")
</p>

@if (!Model.Wnioski.Any())
{
    <p>
       Nie masz jeszcze złożonych żadnych wniosków.
    </p>
  
}
else
{
 using (Ajax.BeginForm("FiltrujWnioski", "Wnioski", new AjaxOptions { 
    HttpMethod = "Post", UpdateTargetId = "ListaWnioskow" }))
    {

    <fieldset>
        <legend>Wyszukaj</legend>
        <ol>
            <li>
                @Html.Label("Konkurs: ")
                @Html.DropDownListFor(m => m.Konkurs, Model.Konkursy)
            </li>

            <li>
                @Html.Label("Status: ")
                @Html.DropDownListFor(m => m.Status, Model.Statusy)
            </li>

        </ol>
        <input type="submit" value="Wyszukaj" />
    </fieldset>
    }
    <div id="ListaWnioskow">
     @Html.Partial("ListaWnioskow", Model.Wnioski)
    </div>

}

</section>
