@model IEnumerable<WnioskiOnline.Models.Wniosek>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ocena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZlozenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOceny)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRozpatrzenia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ocena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZlozenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOceny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRozpatrzenia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdWniosku }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdWniosku }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdWniosku })
        </td>
    </tr>
}

</table>
