@model WnioskiOnline.ViewModels.WnioskiViewModel

@{
    ViewBag.Title = "Wnioski";
}

<h2>Wnioski</h2>

<section class="wnioski">


<p>
    Nowy wniosek: @Html.ActionLink("K1N", "WniosekK1N"), @Html.ActionLink("K2", "WniosekK2"), @Html.ActionLink("K3", "K3Wnioskodawca")
</p>

@if (!Model.Wnioski.Any())
{
    <p>
       Nie masz jeszcze złożonych żadnych wniosków.
    </p>
  
}
else
{
    using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Wyszukaj</legend>
        <ol>
            <li>
                @Html.Label("Konkurs: ")
                @Html.DropDownListFor(m => m.Konkurs, new SelectList(Model.Konkursy, "Konkurs"))
            </li>

            <li>
                @Html.Label("Status: ")
                @Html.DropDownListFor(m => m.Status, new SelectList(Model.Statusy, "Status"))
            </li>

        </ol>
        <input type="submit" value="Wyszukaj" />
    </fieldset>
    }
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wnioski.First().Konkurs.NazwaKonkursu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wnioski.First().TytulWniosku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wnioski.First().DataZlozenia)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.Wnioski.First().Status.NazwaStatusu)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.Wnioski) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Konkurs.NazwaKonkursu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TytulWniosku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZlozenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.NazwaStatusu)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Szczegoly", new { id=item.IdWniosku }) |
            </td>
        </tr>
    }

    </table>

}

</section>
