@model IEnumerable<WnioskiOnline.Models.Aktualnosc>
@{
    ViewBag.Title = "Archiwum";
}


@if (Request.IsAuthenticated) {
    
    
    if (User.IsInRole("Administrator"))
    {

        <h2>Archiwum</h2>

        <section class="aktualnosc">


        @if (!Model.Any())
        {
            <p>
               Brak aktualności.
            </p>
  
        }
        else
        {

            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().IdAktualnosci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TrescAktualnosci)
                    </th>                    
                    
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAktualnosci)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrescAktualnosci)
                    </td>
                    
                    
                </tr>
            }

            </table>
        }
        </section>


    }
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null,  htmlAttributes: new { id = "loginLink" })
    
}