@model WnioskiOnline.ViewModels.EdycjaUzytkownikaViewModel

@{
    ViewBag.Title = "Edycja profilu użytkownika";
}

@if (Request.IsAuthenticated) {
    
    
    if (User.IsInRole("Administrator"))
    {

        <h2>Edycja profilu użytkownika</h2>

        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
 
        <fieldset>
         <legend>Zmiana danych</legend>
        <section>
                <ol>
                    <li>
                        @Html.Label("Rola użytkownika: ")
                        @Html.DropDownListFor(m => m.Rola, new SelectList(Model.Role, "Rola"), new { @class = "dropdown-wnioski" })
                    </li> 

                    <li>
                        <div class="editor-label">
                        @Html.LabelFor(m => m.Uzytkownik.UserName)
                        </div>
                        <div class="editor-field">
                        @Html.EditorFor(m => m.Uzytkownik.UserName)
                        </div>
                    </li>

                    <li>
                        <div class="editor-label">
                        @Html.DisplayNameFor(m => m.Uzytkownik.Imie)
                        </div>
                        <div class="editor-field">
                        @Html.EditorFor(m => m.Uzytkownik.Imie)
                        </div>
                    </li>

                     <li>
                        <div class="editor-label">
                        @Html.DisplayNameFor(m => m.Uzytkownik.Nazwisko)
                        </div>
                        <div class="editor-field">
                        @Html.EditorFor(m => m.Uzytkownik.Nazwisko)
                        </div>
                    </li>

                    <li>
                        <div class="editor-label">
                        @Html.DisplayNameFor(m => m.Uzytkownik.Email)
                        </div>
                        <div class="editor-field">
                        @Html.EditorFor(m => m.Uzytkownik.Email)
                        </div>
                    </li>

                    <li>
                        <div class="editor-label">
                        @Html.DisplayNameFor(m => m.Uzytkownik.Telefon)
                        </div>
                        <div class="editor-field">
                        @Html.EditorFor(m => m.Uzytkownik.Telefon)
                        </div>
                    </li>


            </ol>

               <br />
            <div style="display:inline;">
                <input class="przycisk-wn" type="submit" name="Zapisz" value="Zapisz zmiany" onclick="return confirm('Czy na pewno chcesz zapisać zmiany?');" />
                <input class="przycisk-wn" type="submit" name="Anuluj" value="Anuluj" onclick="return confirm('Czy na pewno chcesz anulować?');"/>
            </div>
        <ol>
                    <li>
                        @Html.HiddenFor(model => model.Uzytkownik.UserId)
                    </li>

        </ol>
        </section>   

        </fieldset>


        }
    }
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    
}
