@model WnioskiOnline.ViewModels.EdycjaUzytkownikaViewModel

@{
    ViewBag.Title = "Edycja profilu użytkownika";
}

<h2>Edycja profilu użytkownika</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
 
<fieldset>
 <legend>Zmiana danych</legend>
<section>
   <div>
    
   </div>
        <ol>
            <li>
                @Html.Label("Rola użytkownika: ")
                @Html.DropDownListFor(m => m.Rola, new SelectList(Model.Role, "Rola"))
            </li> 

            <li>
                @Html.DisplayNameFor(m => m.Uzytkownik.UserName)
                @Html.EditorFor(m => m.Uzytkownik.UserName)
            </li>

            <li>
                @Html.DisplayNameFor(m => m.Uzytkownik.Imie)
                @Html.EditorFor(m => m.Uzytkownik.Imie)
            </li>

             <li>
                @Html.DisplayNameFor(m => m.Uzytkownik.Nazwisko)
                @Html.EditorFor(m => m.Uzytkownik.Nazwisko)
            </li>

            <li>
                @Html.DisplayNameFor(m => m.Uzytkownik.Email)
                @Html.EditorFor(m => m.Uzytkownik.Email)
            </li>

            <li>
                @Html.DisplayNameFor(m => m.Uzytkownik.Telefon)
                @Html.EditorFor(m => m.Uzytkownik.Telefon)
            </li>


    </ol>

       <br /><br />
    <div style="display:inline;">
        <input type="submit" name="Zapisz" value="Zapisz zmiany" onclick="return confirm('Czy na pewno chcesz zapisać zmiany?');"/>
        <input type="submit" name="Anuluj" value="Anuluj" onclick="return confirm('Czy na pewno chcesz anulować?');"/>
    </div>
<ol>
            <li>
                @Html.HiddenFor(model => model.Uzytkownik.UserId)
            </li>

</ol>
</section>   

</fieldset>

}
