@model IEnumerable<WnioskiOnline.Models.Konkurs>

@{
    ViewBag.Title = "Konkursy";
}



<h2>Konkursy</h2>

<section class="konkursy">


@if (!Model.Any())
{
    <p>
       Nie znaleziono żadnych konkursów.
    </p>
  
}
else
{

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().NazwaKonkursu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DataRozpoczecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DataZakonczenia)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaKonkursu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRozpoczecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZakonczenia)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EdytujKonkurs", new { id=item.IdKonkursu}) 

            </td>
        </tr>
    }

    </table>
}
</section>

