@model IEnumerable<WnioskiOnline.Models.Konkurs>

@{
    ViewBag.Title = "Konkursy";
}

@if (Request.IsAuthenticated) {
    
    
    if (User.IsInRole("Administrator"))
    {

        <h2>Konkursy</h2>

        <section class="konkursy">


        @if (!Model.Any())
        {
            <p>
               Nie znaleziono żadnych konkursów.
            </p>
  
        }
        else
        {

            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().NazwaKonkursu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DataRozpoczecia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DataZakonczenia)
                    </th>
                    <th>Opcje</th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NazwaKonkursu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRozpoczecia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataZakonczenia)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "EdytujKonkurs", new { id=item.IdKonkursu}, new { title="Edytuj konkurs", style = "background: url('" + Url.Content("~/images/edit.png") + "') no-repeat center right; display:block; height:20px; width:20px;" }) 

                    </td>
                </tr>
            }

            </table>
        }
        </section>


    }
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null,  htmlAttributes: new { id = "loginLink" })
    
}

