@model WnioskiOnline.ViewModels.UzytkownicyViewModel


@{
    ViewBag.Title = "Użytkownicy";
}

@if (Request.IsAuthenticated) {

    
    if (User.IsInRole("Administrator"))
    {

        <h2>Użytkownicy</h2>

        <section class="wnioski">


        @if (!Model.Uzytkownicy.Any())
        {
            <p>
               Nie ma jeszcze żadnych użytkowników.
            </p>
  
        }
        else
        {
    
            <p>
                @Html.ActionLink("Przypisz dziedzinę dla recenzenta", "Recenzenci", "Admin")
            </p>
    
         using (Ajax.BeginForm("FiltrujUzytkownikow", "Admin", new AjaxOptions { 
            HttpMethod = "Post", UpdateTargetId = "ListaUzytkownikow" }))
            {

            <fieldset>
                <legend>Wyszukaj</legend>
                <ol>
                    <li>
                        @Html.Label("Rola: ")
                        @Html.DropDownListFor(m => m.Rola, Model.Role)
                    </li>


                </ol>
                <input type="submit" value="Wyszukaj" />
            </fieldset>
            }
            <div id="ListaUzytkownikow">
             @Html.Partial("ListaUzytkownikow", Model.Uzytkownicy)
            </div>

        }

        </section>


    }
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null,  htmlAttributes: new { id = "loginLink" })
    
}
