
@model WnioskiOnline.Models.UserProfile
@{
    ViewBag.Title = "Dane osobowe";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dane osobowe</legend>
         @Html.HiddenFor(model => model.UserId)
        <ol>
            <li>
                <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
                </div>
                <div class="display-field">
               @Html.DisplayFor(model => model.UserName)
                </div>
            </li>
             <li>
                <div class="editor-label">
                @Html.LabelFor(model => model.Imie)
                </div>
                <div class="editor-field">
                @Html.TextBoxFor(model => model.Imie)
                </div>
            </li>

            <li>
                <div class="editor-label">
                @Html.LabelFor(model => model.Nazwisko)
                </div>
                <div class="editor-field">
                @Html.TextBoxFor(model => model.Nazwisko)
                </div>
            </li>

             <li>
                <div class="editor-label">
                @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                @Html.TextBoxFor(model => model.Email)
                </div>
            </li>
                <li>
                <div class="editor-label">
                @Html.LabelFor(model => model.Telefon)
                </div>
                <div class="editor-field">
                @Html.TextBoxFor(model => model.Telefon)
                </div>
            </li>
            <li>@Html.ActionLink("Zmień hasło", "ZmianaHasla", "Account")</li>
        </ol>
  
        <input type="submit" value="Edytuj" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}