@model WnioskiOnline.Models.RegisterModel
@{
    ViewBag.Title = "Dane osobowe";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Dane osobowe</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.Label("login","jan1234")
            </li>
             <li>
                @Html.LabelFor(m => m.Imie)
                @Html.TextBox("imie","Jan")
            </li>

            <li>
                @Html.LabelFor(m => m.Nazwisko)
                @Html.TextBox("nazwisko","Kowalski")
            </li>

             <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBox("email", "jan.kowalski@pwr.edu.pl")
            </li>
                <li>
                @Html.LabelFor(m => m.Telefon)
                @Html.TextBox("tel","600100100")
            </li>
            <li>@Html.ActionLink("Zmień hasło", "ZmianaHasla", "Account")</li>
        </ol>
  
        <input type="submit" value="Edytuj" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
