@model WnioskiOnline.Models.RegisterModel
@{
    ViewBag.Title = "Rejestracja";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Stwórz swoje konto.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Rejestracja</legend>
        <ol>
            <li>
                @Html.Label("Zarejestruj jako: ")
                @Html.DropDownListFor(m => m.Rola, new SelectList(ViewBag.Roles, "Rola"))
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
             <li>
                @Html.LabelFor(m => m.Imie)
                @Html.TextBoxFor(m => m.Imie)
            </li>

            <li>
                @Html.LabelFor(m => m.Nazwisko)
                @Html.TextBoxFor(m => m.Nazwisko)
            </li>

             <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
                <li>
                @Html.LabelFor(m => m.Telefon)
                @Html.TextBoxFor(m => m.Telefon)
            </li>
        </ol>
        <input type="submit" value="Rejestruj" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
