@model WnioskiOnline.Models.FormularzK3


@{
    ViewBag.Title = "Recenzja wniosku K3";
}

<h2>Szczegóły wniosku</h2>

@using (Html.BeginForm("RecenzjaK3","Recenzent")) {
    @Html.AntiForgeryToken()
<section class="szczegolywniosku">
 <fieldset>
     <legend>Recenzja wniosku K3</legend>
      <br/>
   <div>
    
   </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Wniosek.Dziedzina)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Wniosek.Dziedzina.NazwaDziedziny)
            </div>
      <br/>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Organizacja)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Organizacja.NazwaOrganizacji)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Wniosek.TytulWniosku)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Wniosek.TytulWniosku)
            </div>
      <br/>
            <div>
                @Html.Label("Główny koordynator projektu: ")
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.PierwszyKoord.Imie)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.PierwszyKoord.Imie)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.PierwszyKoord.Nazwisko)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.PierwszyKoord.Nazwisko)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.PierwszyKoord.Telefon)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.PierwszyKoord.Telefon)
            </div>
      <br/>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.PierwszyKoord.Email)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.PierwszyKoord.Email)
            </div>
      <br/>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.PierwszyKoord.NrIndeksu)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.PierwszyKoord.NrIndeksu)
            </div>
      <br/>
            <div>
                @Html.Label("Drugi koordynator projektu: ")
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.DrugiKoord.Imie)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DrugiKoord.Imie)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.DrugiKoord.Nazwisko)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DrugiKoord.Nazwisko)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.DrugiKoord.Telefon)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DrugiKoord.Telefon)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.DrugiKoord.Email)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DrugiKoord.Email)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.DrugiKoord.NrIndeksu)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DrugiKoord.NrIndeksu)
            </div>
      <br/>
             <div class="display-label">
                 @Html.DisplayNameFor(model => model.Termin)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Termin)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.LiczbaStudKorzyst)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LiczbaStudKorzyst)
            </div>
      <br/>
             <div class="display-label">
                 @Html.DisplayNameFor(model => model.LiczbaStudZaang)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LiczbaStudZaang)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Zasieg)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Zasieg.NazwaZasiegu)
            </div>
      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Charakter)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Charakter.NazwaCharakteru)
            </div>

      <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Uzasadnienie)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Uzasadnienie)
            </div>

      <br/>
           <div class="display-label">
                 @Html.DisplayNameFor(model => model.Uwagi)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Uwagi)
            </div>

     <br/>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Wniosek.Ocena)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Wniosek.Ocena)
            </div>
           <ol>
            <li>
                @Html.LabelFor(m => m.Wniosek.Ocena)
                @Html.EditorFor(m => m.Wniosek.Ocena)
            </li>
            <li>
                @Html.HiddenFor(model => model.Wniosek.IdKonkursu)
            </li>
            <li>
                @Html.HiddenFor(model => model.Wniosek.IdWnioskodawcy)
            </li>
             <li>
                @Html.HiddenFor(model => model.IdFormularza)
            </li>
             <li>
                @Html.HiddenFor(model => model.IdWniosku)
            </li>
             <li>
                @Html.HiddenFor(model => model.Wniosek.IdWniosku)
            </li>
            <li>
                @Html.HiddenFor(model => model.IdPierwszegoKoord)
            </li>
            <li>
                @Html.HiddenFor(model => model.PierwszyKoord.IdKoord)
            </li>
            <li>
                @Html.HiddenFor(model => model.IdDrugiegoKoord)
            </li>
            <li>
                @Html.HiddenFor(model => model.DrugiKoord.IdKoord)
            </li>
            </ol>
    
    <div style="display:inline;">
        <input type="submit" name="Zapisz" value="Zapisz recenzję" />
        <input type="submit" name="Anuluj" value="Anuluj"/>
    </div>

</fieldset>

</section> 
} 


