@model WnioskiOnline.ViewModels.SzczegolyK2ViewModel


@{
    ViewBag.Title = "Edycja wniosku Kw";
}


@if (Request.IsAuthenticated) {
    
    if (User.IsInRole("Wnioskodawca"))
    {

        <h3>WNIOSEK O DOFINANSOWANIE PROJEKTU STUDENCKIEGO ŚREDNIOTERMINOWEGO/ŚREDNIOBUDŻETOWEGO ZE ŚRODKÓW PRZEZNACZONYCH PRZEZ UCZELNI NA DZIAŁALNOŚĆ STUDENCKĄ I DOKTORANCKĄ</h3>


        using (Html.BeginForm("EdytujK2", "Wnioskodawca"))
        {
            @Html.AntiForgeryToken()
 
        <fieldset>
         <legend>Wypełnij wniosek</legend>
        <section class="szczegolywniosku">
                <ol>
                    <li>
                        @Html.HiddenFor(model => model.Formularz.Wniosek.IdKonkursu)
                    </li>
                    <li>
                        @Html.HiddenFor(model => model.Formularz.Wniosek.IdWnioskodawcy)
                    </li>
                     <li>
                        @Html.HiddenFor(model => model.Formularz.IdFormularza)
                    </li>
                     <li>
                        @Html.HiddenFor(model => model.Formularz.IdWniosku)
                    </li>
                     <li>
                        @Html.HiddenFor(model => model.Formularz.Wniosek.IdWniosku)
                    </li>
                    <li>
                        @Html.HiddenFor(model => model.Formularz.IdPierwszegoKoord)
                    </li>
                    <li>
                        @Html.HiddenFor(model => model.Formularz.PierwszyKoord.IdKoord)
                    </li>
                    <li>
                        @Html.HiddenFor(model => model.Formularz.IdDrugiegoKoord)
                    </li>
                    <li>
                        @Html.HiddenFor(model => model.Formularz.DrugiKoord.IdKoord)
                    </li>
                    <li>
                        @Html.Label("Dziedzina: ")
                        @Html.DropDownListFor(m => m.Formularz.Wniosek.IdDziedziny, Model.Dziedziny, new { @class = "dropdown-wnioski" })
                    </li>

                    <li>
                        @Html.Label("Organizacja wnioskująca: ")
                        @Html.DropDownListFor(m => m.Formularz.IdOrganizacji, Model.Organizacje, new { @class = "dropdown-wnioski" })
                    </li>

                    <li>
                        @Html.Label("Nazwa projektu: ")
                        @Html.EditorFor(m => m.Formularz.Wniosek.TytulWniosku)
                    </li>

                    <li>
                        @Html.Label("Główny koordynator projektu: ")
                    </li>

                    <li>
                        @Html.Label("Imię ")
                        @Html.EditorFor(m => m.Formularz.PierwszyKoord.Imie)
                    </li>

                    <li>
                        @Html.Label("Nazwisko ")
                        @Html.EditorFor(m => m.Formularz.PierwszyKoord.Nazwisko)
                    </li>

                    <li>
                        @Html.Label("Telefon ")
                        @Html.EditorFor(m => m.Formularz.PierwszyKoord.Telefon)
                    </li>

                    <li>
                        @Html.Label("Email ")
                        @Html.EditorFor(m => m.Formularz.PierwszyKoord.Email)
                    </li>

                    <li>
                        @Html.Label("Numer indeksu ")
                        @Html.EditorFor(m => m.Formularz.PierwszyKoord.NrIndeksu)
                    </li>

                    <li>
                        @Html.Label("Drugi koordynator projektu: ")
                    </li>

                    <li>
                        @Html.Label("Imię ")
                        @Html.EditorFor(m => m.Formularz.DrugiKoord.Imie)
                    </li>

                    <li>
                        @Html.Label("Nazwisko ")
                        @Html.EditorFor(m => m.Formularz.DrugiKoord.Nazwisko)
                    </li>

                    <li>
                        @Html.Label("Telefon ")
                        @Html.EditorFor(m => m.Formularz.DrugiKoord.Telefon)
                    </li>

                    <li>
                        @Html.Label("Email ")
                        @Html.EditorFor(m => m.Formularz.DrugiKoord.Email)
                    </li>

                    <li>
                        @Html.Label("Numer indeksu ")
                        @Html.EditorFor(m => m.Formularz.DrugiKoord.NrIndeksu)
                    </li>

                     <li>
                        @Html.LabelFor(m => m.Formularz.KwotaWnioskowana)
                        @Html.EditorFor(m => m.Formularz.KwotaWnioskowana)
                    </li>

                    <li>
                        @Html.Label("Zasięg zadania: ")
                        @Html.DropDownListFor(m => m.Formularz.IdZasiegu, Model.Zasiegi, new { @class = "dropdown-wnioski" })
                    </li>

                    <li>
                        @Html.Label("Charakter zadania: ")
                        @Html.DropDownListFor(m => m.Formularz.IdCharakteru, Model.Charaktery, new { @class = "dropdown-wnioski" })
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.Celowosc)
                        @Html.TextAreaFor(m => m.Formularz.Celowosc)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.DlaczegoZasluguje)
                        @Html.TextAreaFor(m => m.Formularz.DlaczegoZasluguje)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.DlaczegoLepszy)
                        @Html.TextAreaFor(m => m.Formularz.DlaczegoLepszy)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.StopienInnowacji)
                        @Html.TextAreaFor(m => m.Formularz.StopienInnowacji)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.JakAngazuje)
                        @Html.TextAreaFor(m => m.Formularz.JakAngazuje)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.JakieWarunki)
                        @Html.TextAreaFor(m => m.Formularz.JakieWarunki)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.JakiePodobnePierwszy)
                        @Html.TextAreaFor(m => m.Formularz.JakiePodobnePierwszy)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.JakiePodobneDrugi)
                        @Html.TextAreaFor(m => m.Formularz.JakiePodobneDrugi)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.WkladFinansowy)
                        @Html.TextAreaFor(m => m.Formularz.WkladFinansowy)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.Sponsorzy)
                        @Html.TextAreaFor(m => m.Formularz.Sponsorzy)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.JakPromuje)
                        @Html.TextAreaFor(m => m.Formularz.JakPromuje)
                    </li>

                    <li>
                        @Html.LabelFor(m => m.Formularz.InneInformacje)
                        @Html.TextAreaFor(m => m.Formularz.InneInformacje)
                    </li>

                </ol>

        @*<section class="wnioski">
                <table>
                <tr>
                    <th>
                       Rodzaj wydatku
                    </th>
                    <th>
                       Wyszczególnienie
                    </th>
                    <th>
                        Kwota ogółem
                    </th>
                    <th>
                       Kwota do sfinansowania
                    </th>
                    <th></th>
                </tr>
                  <tr>
                    <td>
                        @Html.DropDownListFor(m => m.Wydatek.RodzajWydatku, Model.RodzajeWydatku)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Wydatek.Wyszczegolnienie)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Wydatek.KwotaOgolem)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Wydatek.KwotaDoSfinans)
                    </td>
                    <td>
                        @Html.ActionLink("Usuń","Index")
                    </td>
                </tr>
            </table>
            </section>
            <input type="button" name="dodajkoszt" value=" + Dodaj wiersz + "/>*@
            <br /><br />
            <div style="display:inline;">
                <input type="submit" name="ZapiszRobocza" value="Zapisz wersję roboczą" onclick="return confirm('Czy na pewno chcesz zapisać jako wersję roboczą?');"/>
                <input type="submit" name="WyslijDoRec" value="Wyślij do recenzji" onclick="return confirm('Czy na pewno chcesz wysłać wniosek do recenzji?');"/>
                <input type="submit" name="Anuluj" value="Anuluj" onclick="return confirm('Czy na pewno chcesz anulować?');"/>
            </div>
        </section>    
        </fieldset>

        }
    
        }
    
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    
}


             