@model WnioskiOnline.ViewModels.WnioskiViewModel

@{
    ViewBag.Title = "Wnioski";
}


@if (Request.IsAuthenticated) {
    
    if (User.IsInRole("Wnioskodawca"))
    {

        <h2>Wnioski</h2>

        <section class="wnioski">
<ul>
        <li>
            <strong>K1N</strong> - Wniosek o dofinansowanie projektu naukowo-badawczego, inżynieryjno-konstruktorskiego
        </li>
        <li>
            <strong>K2</strong> - Wniosek o dofinansowanie średniobudżetowego/średnioterminowego projektu studenckiego
        </li>
        <li>
            <strong>K3</strong> - Wniosek o dofinansowanie niskobudżetowego/krótkoterminowego projektu studenckiego 
        </li>
</ul>

        <p>
            Nowy wniosek: @Html.ActionLink("K1N", "DodajK1N", "Wnioskodawca"), @Html.ActionLink("K2", "DodajK2", "Wnioskodawca"), @Html.ActionLink("K3", "DodajK3", "Wnioskodawca")
        </p>

        @if (!Model.Wnioski.Any())
        {
            <p>
               Nie masz jeszcze złożonych żadnych wniosków.
            </p>
  
        }
        else
        {
         using (Ajax.BeginForm("FiltrujWnioski", "Wnioskodawca", new AjaxOptions { 
            HttpMethod = "Post", UpdateTargetId = "ListaWnioskow" }))
            {

            <fieldset>
                <legend>Wyszukaj</legend>
                <ol>
                    <li>
                        @Html.Label("Konkurs: ")
                        @Html.DropDownListFor(m => m.Konkurs, Model.Konkursy, new { @class = "dropdown-wnioski" })
                    </li>

                    <li>
                        @Html.Label("Status: ")
                        @Html.DropDownListFor(m => m.Status, Model.Statusy, new { @class = "dropdown-wnioski" })
                    </li>

                </ol>
                <input class="przycisk-wn" type="submit" value="Wyszukaj" />
            </fieldset>
            }
            <div id="ListaWnioskow">
             @Html.Partial("ListaWnioskow", Model.Wnioski)
            </div>

        }

        </section>
    
        }
    
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    
}

