@model IEnumerable<WnioskiOnline.Models.Wniosek>

@if (!Model.Any())
{
    <p>
       Nie znaleziono wniosków o podanych kryteriach.
    </p>
  
}
else
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Konkurs.NazwaKonkursu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TytulWniosku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Dziedzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DataZlozenia)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.First().Status.NazwaStatusu)
            </th>
            <th>Opcje</th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Konkurs.NazwaKonkursu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TytulWniosku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dziedzina.NazwaDziedziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZlozenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.NazwaStatusu)
            </td>
            <td>
               @{ if (item.Status.NazwaStatusu == "Do zatwierdzenia")
                   {
                    @Html.ActionLink(" ", "Edytuj", new { id=item.IdWniosku, konkurs = item.Konkurs.NazwaKonkursu }, new { title="Edytuj wniosek", style = "background: url('" + Url.Content("~/images/edit.png") + "') no-repeat center right; display:block; height:20px; width:20px;" }) 
                    }
                    else
                    {
                       @Html.ActionLink("Szczegóły", "Szczegoly", new { id=item.IdWniosku, konkurs = item.Konkurs.NazwaKonkursu }) 
                    }
                }

            </td>
        </tr>
    }

    </table>
}